p {
    font-size: 18px;
    color: white;
}

.dark-theme a {
    color: blue;
}

@media (max-width: 600px) {
    .logo-container {
        top: 1%;
        left: 1%;
    }

    .logo-image {
        width: 100px;
        height: 100px;
    }
}