/* Estilos base */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}

h2 {
    margin-top: 0;
}

p {
    margin-bottom: 10px;
}

form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 20px;
}

button[type="submit"]{
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #a04545;
}

button {
    padding: 10px 20px;
    background-color: #f44336;
    border: none;
    color: white;
    cursor: pointer;
}

/* Estilos responsive */

@media (max-width: 600px) {
    form {
        width: 100%;
        max-width: 400px;
    }

    input[type="text"] {
        padding: 8px;
        margin-bottom: 15px;
    }

    button[type="submit"] {
        padding: 8px 16px;
        font-size: 14px;
    }
}


@media screen and (max-width: 600px) {
    body {
        padding: 10px;
    }

    button {
        padding: 8px 16px;
    }
    .logo-container {
        top: 1%;
        left: 1%;
    }

    .logo-image {
        width: 100px;
        height: 100px;
    }
}
