p {
    margin-bottom: 10px;
    color: #f1f4ff;
}

form {
    background-color: #18181b;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    color: white;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 20px;
}

button[type="submit"] {
    background-color: #3f42ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #2118ff;
}


@media (max-width: 600px) {
    form {
        width: 100%;
        max-width: 400px;
    }

    input[type="text"] {
        padding: 8px;
        margin-bottom: 15px;
    }

    button[type="submit"] {
        padding: 8px 16px;
        font-size: 14px;
    }
}