
.toggle-label{
    border: 1px solid darkgray;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #333;
    font-size: 30px;
    margin-bottom: 20px;
}

p {
    color: #555;
    font-size: 16px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration: none;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #a04545;
    color: white;
}

.register-button,
.login-button {
    margin-bottom: 10px;
}


@media (max-width: 400px) {
    .logo-container {
        top: 1%;
        left: 1%;
    }

    .logo-image {
        width: 50px;
        height: 50px;
    }
}