ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3f42ff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

.button:hover {
    background-color: #2118ff;
    color: white;
    text-decoration: none;
}

.register-button,
.login-button {
    margin-bottom: 10px;
}

.main {
    display: flex;
    justify-content: center;
}

.info {
    max-width: 70ch;
    font-size: 20px;
    color: #767fff;
}