/* Estilos para el contenedor del logo */
.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
}

/* Estilos para la imagen del logo */
.logo-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}




body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    text-align: center;
}
/* Estilos para el título */
h1 {
    color: #333;
    font-size: 40px;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    color: #333;
    font-size: 30px;
    margin-bottom: 20px;
}

/* Estilos para la lista */
ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

/* Estilos para los elementos de la lista */
li {
    margin-bottom: 10px;
}

/* Estilos para los enlaces */
.a {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    color: white;
    background-color: red;
    border: 1px solid red;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.a:hover {
    background-color: #a04545;
}

@media (max-width: 600px) {
    .logo-container {
        top: 1%;
        left: 1%;
    }
    .logo-image {
        width: 50px;
        height: 50px;
    }
    .profile-image {
        width: 50px;
        height: 50px;
    }
}