h2 {
    color: #333;
    font-size: 30px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.a {
    padding: 10px 20px;
    background-color: #3f42ff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    border: none;
}

.a:hover {
    background-color: #2118ff;
    color: white;
    text-decoration: none;
}

@media (max-width: 600px) {
    .profile-image {
        width: 50px;
        height: 50px;
    }
}