.site-cards-container {
    perspective: 1000px;
    width: auto; /* Elimina el ancho fijo y deja que se ajuste automáticamente */
    height: auto; /* Elimina la altura fija y deja que se ajuste automáticamente */
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en dispositivos móviles */
    justify-content: center;
    align-items: center;
    padding-left: 10px; /* Reduce el padding para dispositivos móviles */
    padding-right: 10px; /* Reduce el padding para dispositivos móviles */
}

/* Estilos para el perfil en la esquina superior izquierda */
.profile-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}

/* Estilos para la imagen del perfil */
.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #333;
    font-size: 24px; /* Reduce el tamaño de la fuente para dispositivos móviles */
    margin-bottom: 20px;
}

h1 {
    text-align: center;
}

.site-card {
    perspective: 1000px;
    width: 90%; /* Ajusta el ancho de las tarjetas al 90% del contenedor */
    max-width: 400px; /* Establece un ancho máximo para las tarjetas */
    height: 200px;
    margin: 10px; /* Reduce el margen entre las tarjetas */
}

.site-card-front,
.site-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.6s;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.site-card-front {
    background-color: #4d4d4d;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.site-card-back {
    background-color: #fff;
    color: #252525;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.site-card:hover .site-card-front {
    transform: rotateY(180deg);
}

.site-card:hover .site-card-back {
    transform: rotateY(0deg);
}

h3 {
    margin-bottom: 5px;
    text-align: center;
}

p {
    margin-top: 0;
    text-align: center;
}

.copy-button {
    background-color: #4d4d4d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.copy-button:hover {
    background-color: #333;
}

.site-card-front {
    background-color: #4d4d4d;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.site-card-back {
    background-color: #fff;
    color: #252525;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}


.mobile-touch .site-card-front {
    /* Estilos para dispositivos móviles con toque */
    transform: rotateY(180deg);
}

.mobile-touch .site-card-back {
    /* Estilos para dispositivos móviles con toque */
    transform: rotateY(0deg);
}

@media (max-width: 400px) {
    .logo-container {
        top: 1%;
        left: 1%;
    }
    .logo-image {
        width: 50px;
        height: 50px;
    }
    .profile-container {
        position: absolute;
        top: 1%;
        right: 1%;
        display: flex;
        align-items: center;
    }
    
    /* Estilos para la imagen del perfil */
    .profile-image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        object-fit: cover;
    }
}