.a {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    color: white;
    background-color: #3f42ff;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.a:hover {
    background-color: #2118ff;
    color: white;
}

@media (max-width: 600px) {
    .logo-container {
        top: 1%;
        left: 1%;
    }

    .logo-image {
        width: 50px;
        height: 50px;
    }
}