<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/add-pass.css') }}">
<div class="logo-container">
    <a href="/menu"> <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo-image"></a></div>
<h1>Agregar Contraseña</h1>
{% if error %}
<p>{{ error }}</p>
{% endif %}
<form method="POST" action="/agregar_contraseña">
    <label>Sitio o servicio:</label>
    <input type="text" name="sitio" required />
    <label>Nombre de usuario:</label>
    <input type="text" name="username" required />
    <label>Contraseña:</label>
    <input type="password" name="password" required />
    <button type="submit">Agregar Contraseña</button>
</form>
