<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js"></script>
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='css/base.css') }}" />
        <link rel="icon" href="/static/img/logo.png" />
        {% block head %} {% endblock head %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/menu">KeyCrate</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/profile">Perfil</a>
                        </li>
                        <li class="nav-item">
                            <div class="theme-container">
                                <div class="theme-toggle">
                                    <input
                                        type="checkbox"
                                        id="theme-switch"
                                        onclick="toggleTheme()" />
                                    <label
                                        for="theme-switch"
                                        class="toggle-label">
                                        <span class="sun-icon"
                                            ><i
                                                class="fa-regular fa-sun fa-lg"></i
                                        ></span>
                                        <span class="moon-icon"
                                            ><i
                                                class="fa-regular fa-moon fa-lg"></i
                                        ></span>
                                    </label>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% block content %} {% endblock %}
        <!--MODO OSCURO-->
        <script
            src="https://kit.fontawesome.com/87f8a4afeb.js"
            crossorigin="anonymous"></script>
        <script>
            var storedTheme = localStorage.getItem("theme");
            if (storedTheme === "dark") {
                document.body.classList.add("dark-theme");
            }
        </script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>
