{% extends 'base.html' %} {% block head %}
<title>Advertencia</title>
<link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='css/config-del.css') }}" />
{% endblock head %} {% block content %}
<br />
<br />
<h1>Eliminación de cuenta</h1>
<p>
    ¿Estás seguro de que deseas eliminar tu cuenta? Esta acción no se puede
    deshacer.
</p>
<p>Para confirmar la eliminación, escribe "eliminar" en el siguiente campo:</p>
<form action="/confirmar_eliminacion" method="POST">
    <label for="confirmation">Confirmar eliminación:</label>
    <input type="text" id="confirmation" name="confirmation" required />
    <button type="submit" class="btn btn-danger">Confirmar eliminación</button>
</form>
{% endblock %}
