{% extends 'base.html' %}

{% block head %}
    <title>KeyCrate</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock head %}

{% block content %}

    <h1>KeyCrate</h1>
    <ul>
        <li><a href="/registro" class="button register-button">Registrarse</a></li>
        <li><a href="/inicio_sesion" class="button login-button">Iniciar sesión</a></li>
    </ul>
    <div class="main">
        <p class="info">
            ¡Bienvenido a nuestro Gestor de Contraseñas seguro y confiable! 
            Con nuestro gestor podrás almacenarlas de forma encriptada y acceder a ellas de manera rápida y 
            segura en cualquier dispositivo. Tu privacidad es nuestra prioridad, y puedes confiar en que tus datos estarán protegidos,
            todas las contraseñas estan cifradas con SHA-256</p>
    </div>
    <footer>
        <p>La base de datos de este proyecto, se reseteara periodicamente</p>
    </footer>
{% endblock %}
