<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
{% extends 'base.html' %}

{% block title %}Inicio de sesión{% endblock %}

{% block content %}
<h1>Iniciar sesión</h1>
{% if error %}
<p>{{ error }}</p>
{% endif %}
<form method="POST" action="/inicio_sesion">
    <div>
        <label>Correo Electrónico:</label>
        <input type="email" name="username" placeholder="Ingrese su Correo Electrónico" required />
    </div>
    <div>
        <label>Contraseña Maestra:</label>
        <input type="password" name="password" placeholder="Ingrese su contraseña Maestra" required />
    </div>
    <div>
        <button type="submit">Iniciar sesión</button>
        o
        <a href="/registro"><button type="button">Registrarse</button></a>
    </div>
    <div>
        <a href="/recuperar_contraseña">¿Olvidaste tu contraseña?</a>
    </div>
</form>
{% endblock %}