<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
<div class="logo-container">
    <a href="/menu"> <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo-image"></a>
</div>
<h1>Iniciar sesión</h1>
{% if error %}
<p>{{ error }}</p>
{% endif %}
<form method="POST" action="/inicio_sesion">
    <label>Nombre de usuario:</label>
    <input type="text" name="username" required />
    <label>Contraseña:</label>
    <input type="password" name="password" required />
    <button type="submit">Iniciar sesión</button>
</form>
