{% extends 'base.html' %}

{% block head %}
    <title>Registro</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/registro.css') }}">
{% endblock head %}

{% block content %}
    <h1>Registro</h1>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    <form method="POST" action="/registro" onsubmit="return validatePasswords()">
        <label for="username">Correo Electrónico:</label>
        <input type="email" name="username" id="username" placeholder="Ingrese su Correo Electrónico" required>

        <label for="password">Contraseña Maestra:</label>
        <div class="password-input">
            <input type="password" name="password" id="password" placeholder="Ingrese contraseña Maestra" required>
            <span class="password-toggle" onclick="togglePasswordVisibility('password')">
                <i class="far fa-eye"></i>
            </span>
        </div>

        <label for="confirm_password">Repite la Contraseña Maestra:</label>
        <div class="password-input">
            <input type="password" name="confirm_password" id="confirm_password" placeholder="Repite la contraseña Maestra" required>
            <span class="password-toggle" onclick="togglePasswordVisibility('confirm_password')">
                <i class="far fa-eye"></i>
            </span>
        </div>

        <button type="submit">Registrarse</button>
    </form>

    <p>¿Ya tienes una cuenta? <a href="/inicio_sesion">Iniciar Sesión</a></p>

    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
{% endblock %}
