<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/registro.css') }}">
{% extends 'base.html' %}

{% block title %}Registro{% endblock %}

{% block content %}
<h1>Registro</h1>
{% if error %}
<p>{{ error }}</p>
{% endif %}
<form method="POST" action="/registro">
    <label>Correo Electronico:</label>
    <input type="email" name="username" placeholder="Ingrese su Correo Electronico" required />
    <label>Contraseña Maestra:</label>
    <input type="password" name="password" placeholder="Ingrese contraseña Maestra" required />
    <input type="password" name="password" placeholder="Nuevamente la contraseña Maestra" required />
    <button type="submit">Registrarse</button>
    o
    <a href="/inicio_sesion"><button type="button">Iniciar Sesion</button></a>
</form>
{% endblock %}